:root, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  color-scheme: dark;
  background-color: rgb(30, 30, 30);
  /* overflow: hidden; */
}

.console-container {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  padding-right: 6px;
  
  max-width: 100%;
  height: 50%;
  max-height: 50%;

  overflow-y: auto;

  /* scrollbar-gutter: stable; */
  
  background: rgb(30, 30, 30);
  border-top: 1px solid #2c2c2c;
  --error-bg: #472525;
  --warn-bg: #423800;
  --log-bg: rgb(42, 42, 42);
  --info-bg: #253147;
}

.console-container > div {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.console-container > div > div[data-method="error"] > div:nth-child(1) > span > div:empty {
  --icon-url: url("data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M7.062%2014%2010%2011.062%2012.938%2014%2014%2012.938%2011.062%2010%2014%207.062%2012.938%206%2010%208.938%207.062%206%206%207.062%208.938%2010%206%2012.938%207.062%2014ZM10%2018a7.794%207.794%200%200%201-3.104-.625%208.067%208.067%200%200%201-2.552-1.719%208.065%208.065%200%200%201-1.719-2.552A7.795%207.795%200%200%201%202%2010c0-1.111.208-2.15.625-3.115a8.066%208.066%200%200%201%204.271-4.26A7.795%207.795%200%200%201%2010%202c1.111%200%202.15.208%203.115.625a8.1%208.1%200%200%201%204.26%204.26C17.792%207.85%2018%208.889%2018%2010a7.794%207.794%200%200%201-.625%203.104%208.066%208.066%200%200%201-4.26%204.271A7.775%207.775%200%200%201%2010%2018Z%22%20fill%3D%22%23000%22%2F%3E%3C%2Fsvg%3E");
  mask: var(--icon-url) center / contain no-repeat;
  /* background-size: 110%; */
  width: 14px;
  height: 14px;

  /* Appear 16px large without affecting layout */
  scale: calc((16/14) * 100%);
  background: #ff2525;
}

.console-container > div > div[data-method="warn"] > div:nth-child(1) > span > div:empty {
  --icon-url: url("data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M2.76619%2017C1.9889%2017%201.50878%2016.152%201.9087%2015.4855L9.14251%203.42916C9.53091%202.78182%2010.4691%202.78182%2010.8575%203.42915L18.0913%2015.4855C18.4912%2016.152%2018.0111%2017%2017.2338%2017H2.76619ZM10%207C10.5523%207%2011%207.44772%2011%208V11C11%2011.5523%2010.5523%2012%2010%2012V12C9.44772%2012%209%2011.5523%209%2011V8C9%207.44772%209.44772%207%2010%207V7ZM10%2015.1C10.2917%2015.1%2010.5715%2014.9841%2010.7778%2014.7778C10.9841%2014.5715%2011.1%2014.2917%2011.1%2014C11.1%2013.7083%2010.9841%2013.4285%2010.7778%2013.2222C10.5715%2013.0159%2010.2917%2012.9%2010%2012.9C9.70826%2012.9%209.42847%2013.0159%209.22218%2013.2222C9.01589%2013.4285%208.9%2013.7083%208.9%2014C8.9%2014.2917%209.01589%2014.5715%209.22218%2014.7778C9.42847%2014.9841%209.70826%2015.1%2010%2015.1Z%22%20fill%3D%22black%22%2F%3E%0A%3C%2Fsvg%3E");
  mask: var(--icon-url) center / contain no-repeat;
  /* background-size: 110%; */
  width: 14px;
  height: 14px;
  
  /* Appear 16px large without affecting layout */
  scale: calc((16/14) * 100%);
  background: rgb(255, 169, 20);
}

.console-container > div > div:not([data-method="log"]) {
  border: none;
  border-radius: 6px;
  padding: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-top: 0;
  margin-bottom: 0;
}
.console-container > div > div > div:nth-child(3) * {
  font-family: 'Fira Mono', 'Courier New', Courier, monospace;
  /* font-size: 14px; */
}

.console-container > div > div[data-method="log"], .console-container > div > div[data-method="dir"] {
  /* background-color: var(--log-bg); */
  /* border: 1px solid #3b3b3b; */
  /* border: none; */
  border-color: #3b3b3b;
  position: relative;
  /* margin-bottom: -4px; */
  margin-left: 26px;
  margin-right: 26px;
}

.console-container > div > div[data-method="log"] > div:nth-child(1), .console-container > div > div[data-method="dir"] > div:nth-child(1) {
  left: -28px;
  position: absolute;
}

.console-container > div > div:not([data-method="log"]) > div:nth-child(1), .console-container > div > div:not([data-method="dir"]) > div:nth-child(1) {
  width: 17.33px;
}
.console-container > div > div[data-method="error"] > div:nth-child(1) > span > div:not(:empty) {
  /* width: 16px; */
  color: var(--error-bg);
  background-color: #ff8080;
}
.console-container > div > div[data-method="warn"] > div:nth-child(1) > span > div:not(:empty) {
  /* width: 16px; */
  color: var(--warn-bg);
  background-color: rgb(255, 220, 158);
}

.console-container > div > div[data-method="log"]:has(+ div), .console-container > div > div[data-method="dir"] + .console-container > div > div:not([data-method="dir"]) {
  /* background-color: red !important; */
  border-bottom: none;
}

.console-container > div > div:not([data-method="log"]) + div[data-method="log"] {
  border-top: none;
}
/* .console-container > div > div[data-method="log"] > div:nth-child(3) > div[data-type="object"] div, .console-container > div > div[data-method="log"] > div:nth-child(3) > div[data-type="object"] ol, .console-container > div > div[data-method="dir"] > div:nth-child(3) > div[data-type="object"] div, .console-container > div > div[data-method="dir"] > div:nth-child(3) > div[data-type="object"] ol { */
  /* background-color: var(--log-bg); */
/* } */

.console-container > div > div[data-method="error"] {
  background-color: var(--error-bg);
}
.console-container > div > div[data-method="error"] > div:nth-child(3) > div[data-type="object"] div, .console-container > div > div[data-method="error"] > div:nth-child(3) > div[data-type="object"] ol {
  background-color: var(--error-bg);
}

.console-container > div > div[data-method="warn"] {
  background-color: var(--warn-bg);
}
.console-container > div > div[data-method="warn"] > div:nth-child(3) > div[data-type="object"] div, .console-container > div > div[data-method="warn"] > div:not(:nth-child(1)) > div[data-type="object"] ol {
  background-color: var(--warn-bg);
}

.console-container > div > div[data-method="debug"] {
  background-color: var(--info-bg);
  color: #abc7ff;
}
.console-container > div > div[data-method="debug"] > div:nth-child(3) > div[data-type="object"] div, .console-container > div > div[data-method="debug"] > div:nth-child(3) > div[data-type="object"] ol {
  background-color: var(--info-bg);
}

.console-container > div > div:not([data-method="log"]) > div:nth-child(1) {
  padding-left: 4px;
}

.console-container > div > div:not([data-method="log"]) > div:nth-child(3) {
  margin-left: 8px;
}

.console-container > div > div[data-method="log"] > div:nth-child(3) {
  margin-left: 3px;
}

.console-container > div > div > div:nth-child(3) > div[data-type="string"] {
  margin-right: -0.5em;
}